.b-subscribe {
  margin-bottom: 45px;
  padding: 7px;
  background: url(../images/subscribe-bg.png);
  text-align: center;

  &__i {
    padding: 15px 15px;
    background: #efede7;

    @media (min-width: $min-sm) {
      padding: 20px 40px;
    }
  }

  &__header {
    font-size: 17px;
    margin-bottom: 20px;

    @media (min-width: $min-sm) {
      font-size: 20px;
    }
  }

  &__form {

  }
}